---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Introduction</h1>
  <h2>Hello, my name is Pradip</h2>
  <h3>I am from Nepal and I like photography and bike rides.</h3>

  <p class="doc">
    <ul>This is the Internet Technology Study Block Class and I expect to learn following things:
    <li>Latest trend in internet technology</li>
    <li>learn how to use github</li>
    <li>simple coding stuffs</li>
  </ul>
  </p><!-- .doc -->
</div><!-- .welcome -->
